<%# render 'users/user_profile' %>
<div class="container">
<div class="row">
<!-- code start -->
<div class="twPc-div">
  <a class="twPc-bg twPc-block"></a>
  <div>
    <div class="twPc-button">
      <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->
      <% unless current_user.id == @user.id %>
        <% if current_user.following?(@user) %>
          <%= button_to 'Unfollow', unfollow_blog_post_path, method: :post, class: 'btn btn-danger' %>
        <% else %>
        <%= button_to 'Follow', follow_blog_post_path, method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      <!-- Twitter Button -->
    </div>

    <div class="twPc-divUser">
      <div class="twPc-divName">
        <%= @user.try(:user_name) %>
      </div>
      <span>
        <%= @user.try(:email) %>
      </span>
    </div>
      <div class="twPc-divStats">
        <ul class="twPc-Arrange">
          <li class="twPc-ArrangeSizeFit">
            <a href=<%= "#{blog_posts_path}" %> title="blogs">
              <span class="twPc-StatLabel twPc-block">Blogs</span>
              <span class="twPc-StatValue"><%= @user.blog_posts.count %></span>
            </a>
          </li>
          <li class="twPc-ArrangeSizeFit">
            <a href="https://twitter.com/mertskaplan/following" title="885 Following">
              <span class="twPc-StatLabel twPc-block">Following</span>
              <span class="twPc-StatValue">885</span>
            </a>
          </li>
          <li class="twPc-ArrangeSizeFit">
            <a href="https://twitter.com/mertskaplan/followers" title="1.810 Followers">
              <span class="twPc-StatLabel twPc-block">Followers</span>
              <span class="twPc-StatValue">1.810</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<!-- code end -->
</div>
</div>

